@import '../../../scss/variables';

.container {
  display: flex;
  margin-bottom: 0.5rem;
}

.deleteBtn {
  background-color: transparent;
  border: none;
  color: $color-red;
}

.arguments {
  list-style-type: none;
  padding: 0;
  white-space: nowrap;
}

.addArgument {
  background-color: transparent;
  border: 1px solid $color-light-grey;
  border-radius: 5px;
  color: $color-grey;
  font-size: 0.7rem;
  padding-top: 0.25rem;
}
