@import 'scss/variables';

:root {
  --color-grey: #747d85;
  --color-light-grey: #c7c7c7;
  --color-green: #326b5a;
  --color-light-green: #cfe6e3;
  --color-red: #b03329;
  --color-white: #ffffff;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

label,
legend {
  color: $color-green;
  font-size: 1rem;
  font-weight: bold;
}

.custom-checkbox label,
.custom-radio label {
  color: currentColor;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-green;
}

h1 {
  font-family: 'Bitter', sans-serif;
}

h2 {
  font-size: 1.25em;
}
