$color-grey: #747d85;
$color-light-grey: #c7c7c7;
$color-green: #326b5a;
$color-light-green: #cfe6e3;
$color-red: #b03329;
$color-white: #ffffff;

$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
